.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #e60f0f;
}
.header__logo {
  padding: 50px;
}
.header__icon {
  padding: 20px;
}
